@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Cute+Font');
html, body {font-family: 'Noto Sans KR', sans-serif; color: #333;}
.tops {height: 80px;}
.bodys {height: calc(100% - 130px);}
.footers {height: 50px;}
/* html, body {font-family: 'Cute Font', cursive;} */

/* 
.tops {background: url(../img/tops_bg.jpg) no-repeat center; background-size: cover;  border-bottom: 1px solid rgb(151, 145, 63)}
.tops > div:not(:last-child) {float: left; padding: 1rem; font-weight: bold; font-size: 1.5rem;}
.tops > div:last-child {float: right; padding-bottom: 1rem; padding-right: 1rem;} 
*/

.tops {background: url(../img/tops_bg.jpg) no-repeat center; background-size: cover;  border-bottom: 1px solid rgb(151, 145, 63); display: flex;}
.tops > div {background-color: rgba(0,0,0,0.5); color: #fff; padding: 1rem 0; display: flex; align-items: center;}
.tops > .bars {font-size: 1.5rem; font-weight: bold; cursor: pointer; padding: 1rem 0.5rem;}
.tops > .tits {font-size: 1.35rem; font-weight: bold; padding: 1rem 0.5rem;}
.tops > .signs {flex: 1 1; display: flex; justify-content: flex-end;}
.tops > .signs > div {margin-right: 1rem;}
.tops > .signs > .photos {width: 40px; height: 40px; overflow: hidden; border-radius: 50%; border: 1px solid #bbb; display: none;}
.tops > .signs > .conts {display: none;}
#bt_signin, #bt_signout {display: none;}

.bodys {display: flex;}
.bodys > .lists {flex: 1 1 30%; overflow-y: auto; background-color: #f1f1f1; border-right: 3px solid cornflowerblue;}
.bodys > .writes {flex: 1 1 70%;}

.footers {padding: 1rem; text-align: center; background-color: dimgrey; color: #fff;}